@page
@model AccessDeniedModel
﻿@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;
@using OpenIdDictMvcLib.Localizers;

@inject IHtmlLocalizer<IdentityLocalizerResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Access denied"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@SharedLocalizer["You do not have access to this resource."]</p>
</header>
