@page
@model ForgotPasswordConfirmation

﻿@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;
@using OpenIdDictMvcLib.Localizers;


@inject IHtmlLocalizer<IdentityLocalizerResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Forgot password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
