@page
@model ResetPasswordConfirmationModel
﻿@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;
@using OpenIdDictMvcLib.Localizers;


@inject IHtmlLocalizer<IdentityLocalizerResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @SharedLocalizer["Your password has been reset. Please"] <a asp-page="./Login">@SharedLocalizer["click here to log in"]</a>.
</p>
