﻿@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;
@using OpenIdDictMvcLib.Localizers;

@inject IHtmlLocalizer<IdentityLocalizerResource> SharedLocalizer


@{
    ViewData["Title"] = SharedLocalizer["Home Page"];
}

<div class="text-center">
    @*    <h1 class="display-4">@SharedLocalizer["Welcome"]</h1> *@
    <h2 class="display-4">@SharedLocalizer["OpenId connect Server"]</h2>
    <h5 class="display-4">@SharedLocalizer["«RUP «Belenergostroy» - holding management company»"]</h5>
    <hr/>
    <img src="~/logotype.png" style="width:250px" />
</div>

