@model OpenIdDictMvcLib.Dto.OpenIddictTokenDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OpenIddictTokenDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TokenId" class="control-label"></label>
                <input asp-for="TokenId" class="form-control" />
                <span asp-validation-for="TokenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationId" class="control-label"></label>
                <input asp-for="ApplicationId" class="form-control" />
                <span asp-validation-for="ApplicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorizationId" class="control-label"></label>
                <input asp-for="AuthorizationId" class="form-control" />
                <span asp-validation-for="AuthorizationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedemptionDate" class="control-label"></label>
                <input asp-for="RedemptionDate" class="form-control" />
                <span asp-validation-for="RedemptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceId" class="control-label"></label>
                <input asp-for="ReferenceId" class="form-control" />
                <span asp-validation-for="ReferenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TokenType" class="control-label"></label>
                <input asp-for="TokenType" class="form-control" />
                <span asp-validation-for="TokenType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
